*{
    margin: 0px;
    padding:0px;
    }

#body {
    background-color: antiquewhite;
}

.logo {
    height: 150px;
    margin: 30px 15px 0px 600px;
}

/* Navigaatiopalkki */
.navbar{
    background-color: #C4DFAA;
    border: 3px solid #73A9AD;
    width: 80%;
    margin-left: 10%;
}

/* Sisältö */
article{
    background-color: #90C8AC;
    width: 80%;
    height: 600px;
    margin: 20px 150px;
    border: 3px solid #73A9AD;
    margin-left: 10%;
}

/* Alapalkki */
footer{
    background-color: #C4DFAA;
    width: 80%;
    height: 150px;
    margin: 20px 150px;
    margin-left: 10%;
    border: 3px solid #73A9AD;
}
