*{
    margin: 0px;
    padding:0px;
    }

#body {
    background-color: #F5F0BB;
    border: 1px solid #73A9AD;
}

.logo {
    height: 150px;
    margin: 30px 15px 0px 600px;
}
/* Navigaatiopalkki */    
.nav-link{
    border: 1px solid #73A9AD;
    width: 405px;
    font-size: 20px;
    background-color: #90C8AC;
}

nav{
left: 135px;
width: 0px;
top: 10px;
}

/* Sisältö */
article{
    background-color: #90C8AC;
    width: 80%;
    height: 600px;
    margin: 20px 150px;
    border: 1px solid #73A9AD;
}

/* Alapalkki */
footer{
    background-color: #C4DFAA;
    width: 80%;
    height: 150px;
    margin: 20px 150px;
    border: 1px solid #73A9AD;
}
