#content{
  /* sivun taustaväri (body) */
  background-color: antiquewhite;
}
#logo{

}
/* Articlen muokkaukset */
article{
  border: 3px solid #73A9AD;
  background-color: #90C8AC;
  width: 80%;
  height: fit-content;
  margin: 20px 150px;
  margin-left: 10%;

}
.question{
  
}