#content{
  /* sivun taustaväri (body) */
  background-color: antiquewhite;
}
.navbar{
  background-color: #C4DFAA;
  border: 3px solid #73A9AD;
  width: 80%;
  margin-left: 10%;
}
h1{
  text-align: center;
}
/* Articlen muokkaukset */
article{
  border: 3px solid #73A9AD;
  background-color: #90C8AC;
  width: 80%;
  height: fit-content;
  margin: 20px 150px;
  margin-left: 10%;

}
#question{
  display: block;
  padding: 20px;
}
/* orava ja omena visailun kuvien koon muokkaus */
#orava{
  width: 200px;
  max-height: 150px;
  
}
#omena{
  width: 150px;
}


/* Alapalkin ulkonäkö */
footer{
  background-color: #C4DFAA;
  width: 80%;
  height: 150px;
  margin: 20px 150px;
  margin-left: 10%;
  border: 3px solid #73A9AD;
}
/* kysymys nappien muotoilu */
.container{
  text-align: center;
}
#answerButtons{
  display: flex;
  flex-direction: column;
}
.answerBTN{
  border:3px solid #73A9AD;
  margin: 3px;
  background-color: #C4DFAA;
}
.nextButton{
  border: 3px solid #C4DFAA;
  background-color: #73A9AD;
  margin: 3px;
  
}
button.wrong{
  background-color: red;
  border: 3px solid red;
}
button.correct{
  background-color: greenyellow;
  border: 3px solid greenyellow;
}